<div>
  <div>
    <div class="about">
      <div class="col-lg-6 col-sm-6" align="left">
        <h3>Users Details</h3>
      </div>
      <div class="col-lg-6 col-sm-6" align="right">
          <button name="Edit" class="button is-small action-link" (click)="editUser(user)">Edit</button>&nbsp;&nbsp;
          <button class="action-link" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
  <div class="main" align="left">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
            <td>Id</td>
            <td>{{user.id}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>E-Mail</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{user.phone}}</td>
        </tr>
        <tr>
            <td>Addresses</td>
            <td>
              <ul>
                <li *ngFor="let address of user.addresses, let i = index">
                    Address {{i+1}} :- H.No: {{address.hno}}, Area: {{address.area}}, Pincode: {{address.pincode}}
                </li>
              </ul>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="enableEditUser" class="edit-ui" align="center">
    <div class="about col-xl-6 col-lg-6 col-md-6 col-sm-6">
      <div class="col-lg-6 col-sm-6" align="left">
        <h3>Edit User</h3>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" align="right">
        <button class="close-button" (click)="disableEditUI()">X</button>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 main" align="center">
      <div [hidden]="editSubmitted" align="left">
        <form #editUserForm="ngForm" (ngSubmit)="onEditSubmit()">
          <div class="form-group">
            <label class="field" for="userId">Id: </label>
            <input type="text" class="form-control" id="userId" required readonly [(ngModel)]="user.id" name="userId" [value]="user.id">
          </div>
          <div class="form-group">
            <label class="field" for="name">Name: </label>
            <input type="text" class="form-control" id="name" required minlength="3" [(ngModel)]="user.username" name="name" [value]="user.username">
          </div>
          <div class="form-group">
            <label class="field" for="email">E-Mail: </label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email" [value]="user.email">
          </div>
          <div class="form-group">
            <label class="field" for="password">Password: </label>
            <input type="password" class="form-control" id="password" required readonly [(ngModel)]="user.password" name="password" #password="ngModel" [value]="user.password">
          </div>
          <div class="form-group">
            <label class="field" for="phone">Phone: </label>
            <input type="text" class="form-control" id="phone" required minlength="10" [(ngModel)]="user.phone" name="phone" [value]="user.phone">
          </div>
          
          <div class="savedAddr" *ngFor="let address of user.addresses; let i = index">
              <p style="font-weight: 600">Address: {{i}}</p>
              <div style="margin:10px 0px;">
                <div class="inner-div" hidden>
                  <label class="form-group field" for="id-{{i}}"></label>
                  <input type="text" class="form-control" id="id{{i}}" required [(ngModel)]="address.id" name="id-{{i}}" [value]="address.id">
                </div>
                <div class="inner-div">
                  <label class="form-group field" for="hno-{{i}}">H.No: </label>
                  <input type="text" class="form-control" id="hno-{{i}}" required [(ngModel)]="address.hno" name="hno-{{i}}" [value]="address.hno">
                </div>
                <div class="inner-div">
                  <label class="form-group field" for="area-{{i}}">Area: </label>
                  <input type="text" class="form-control" id="area-{{i}}" required [(ngModel)]="address.area" name="area-{{i}}" [value]="address.area">
                </div>
                <div class="inner-div">
                  <label class="form-group field" for="pincode-{{i}}">Pincode: </label>
                  <input type="text" class="form-control" id="pincode-{{i}}" required [(ngModel)]="address.pincode" name="pincode-{{i}}" [value]="address.pincode">
                </div>
                <!--<div class="inner-div">
                  <label class="form-group field" for="user_data_id"></label>
                  <input type="text" class="form-control" id="user_data_id" required [(ngModel)]="address.user_data_id" name="user_data_id" [value]="user.id">
                </div>-->
              </div>          
          </div>
          <br />      
          <div align="center">
            <input *ngIf="editUserForm.form.valid" type="submit" class="btn btn-success" name="Submit">
            <input *ngIf="!editUserForm.form.valid" type="submit" class="btn btn-success disabled" name="Submit">
          </div>
        </form>
      </div>
      <div [hidden]="!editSubmitted">
        <h4>User Deatils updated successfully for user Id : {{user.id}}</h4>
      </div>
    </div>
  </div>
</div>
