<!--The content below is only a placeholder and can be replaced.
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Angular Router</a>
    <div class="collapse navbar-collapse">        
        <ul class="mr-auto navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="user-groups">User Groups</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="user-details">User Details</a></li>
        </ul>
    </div>
</nav>-->

<div class="header-div" style="padding: 20px;" align="center">
    <router-outlet></router-outlet>
</div>
